.footer-cont{
    max-height: fit-content;
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
    padding: 20px;
    color: #087DA1;
}

.copy{
    font-weight: 600;
    font-size: 1.2rem;
}

.log img{
    width: 50px;
}
@media (max-width:730px){
    .footer-cont{
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        gap:0;
        flex-wrap: wrap;
    }
    .log img{
        width: 30px;
    }
}