.list-main{
    height: calc(100vh -200px);
}

.list-container{
    display: flex;
    background-color: #E8F3FF;
    padding: 3.6rem;

}

.cards{
    display: flex;
    flex-wrap: wrap;
}
/* .search{
    margin: auto;
} */
@media (max-width:950px){
    .list-container{
        flex-direction: column;
    }
}