.list-main{
    height: 100vh;
}

.list-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "search cards cards";
    background-color: #E8F3FF;
    min-height: calc(100% - 75px);
    padding: 3.6rem;
    justify-items: center;
}

.cards{
    grid-area: cards;
}

.search{
    grid-area: search;
    margin: auto;
}