.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    box-shadow: rgb(177, 177, 177) 1px 1px 5px;
    font-size: 1rem;

}

.nav-main{
    display: flex;
    color: #087DA1;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.nav-main > img, a {
    cursor: pointer;
    text-decoration: none;
    color: #087DA1;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}