.orderby-cont{
    color: #333435;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    position: absolute;
    bottom: 101%;
    right: 0;
}

.order-by{
    background-color: #ECECEC;
    padding: 8px;
}

.select{
    font-size: 1rem;
    color: #989a9b;
    background-color: rgb(255, 255, 255);
    min-width: 180px;
    border: 2px solid #ECECEC;
    padding: 8px;
}